__pycache__
*.dat
*.png
*.out
*.xmf
amr_*
*hdf5*
Backtrace*
job.target
core*
__pycache__
*.ipynb_checkpoints
config.sh
software/erf/ERF
software/wrf/WRF
software/hdf5/HDF5
software/erftools/erftools
software/netcdf/netcdf-c
software/netcdf/netcdf-fortran
software/netcdf/netcdf-install-*
software/jasper/jasper
software/jasper/jasper-*
software/hrldas/HRLDAS
software/cdo/cdo-2.1.1.tar
software/cdo/cdo-2.1.1
software/cdo/cdo-install-*
software/wgrib/wgrib
boxmem
simulation/NoahMP-Example/NoahMP
simulation/NoahMP-Example/NoahMP-Example
*jobnode.archive*
!software/hdf5
!software/flashx
!analysis/Fortran-C-Interop.png
