__pycache__
*.dat
*.png
*.out
*.xmf
amr_*
*hdf5*
Backtrace*
job.target
core*
__pycache__
*.ipynb_checkpoints
config.sh
software/erf/ERF
software/wrf/WRF
software/hdf5/HDF5
software/erftools/erftools
software/netcdf/netcdf-c
software/netcdf/netcdf-fortran
software/netcdf/netcdf-install-*
boxmem
*jobnode.archive*
!software/hdf5
!software/flashx
!analysis/Fortran-C-Interop.png
